@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    
    --cor1:#F2E641;
    --cor2:#F29D35;
    --cor3:#73532C;
    --cor4:#402A17;
    --cor5:#8C2703;
    
    /* --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', 'cursive'; 
    --fonte-android: 'android', 'cursive'; */
}

body {
    background-color: var(--cor2);
}

header {
    background-color: var(--cor3);
}

#conteudo-topo {
    background-color: var(--cor4);
    width: 90%;
    height: 100px;
    margin: auto;
}

#conteudo-topo > nav {
    float: right;
    font-size: 30px;
    padding: 20px;
}

main {
    padding-top: 40px;
    
}

#section-1 {
    background-color: var(--cor5);
    width: 90%;
    margin: auto;
    font-size: 75px;
}

#section-2 {
    width: 50%;
    
    float: left;
    /* width: 700px;  */
    
    display: block;
}

#section-2 > img {
    
    height: 189px;
    margin: auto;
    
    

}

#bloco {
    width: 90%;
    margin: auto;
}

#section-3 {
    background-color: var(--cor4);
    width: 50%;
    float: right;
    display: block;
    height: 189px;
    
    /* width: 700px;  
    font-size: 50px;
    float: right;
    display: block; 
    max-width: 100%;
    max-height: 100%;*/

}

    #bloco-2 {
        width: 90%;
        margin: auto;
    }

    #bloco-2 > #section-4  > div  {
        float: left;
        width: 50%;
        height: 21em;
        background-color: #ffffff;
        float: right;
    }

    

    .resp-container {
        display: flex;
        flex-flow: row;
        position: relative;
        overflow-x: scroll;
        
        width: 50%;
        height: 21em;
        
        
    }
    .resp-item {
        white-space: nowrap;
        width: 74em;
        padding-left: 25vh;
        
    }

footer {
    background-color: black;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    

    
    
}