@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cor0: #0A0A11;
  --cor1:;
  --cor2: #592bd850;
  --cor3: #13131F;
  --cor4:;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque:'Bebas Neue', 'cursive'; 
  
}

body {
    background-color: var(--cor3);   
}

#container-logos {
    position: fixed;
    z-index: 999;
    bottom: 0%;
    right: 3%;
    background-color: white;

}

#container-logos > a >  img {
    width: 50px;
    height: 50px;
    padding-right: 20px;
    background-color: white;
}


header {
    display: blocflex-containerk;
    width: 100vw;
    height: 100px;
    background-color: var(--cor3);
    position: fixed;
    z-index: 999;
    border-bottom: #592bd850 solid 1px;
    line-height: 100px;
    
    text-align: center;
    
}

#menu {
  height: inherit;
}

#menu > a:hover /* nav */ {
    
    text-decoration: underline rgb(33, 146, 199);
    
}


 #menu > a /* nav */{
    
   color: white;
   padding-right: 30px;
   font-size: 20px;  
   text-decoration: none;
   
}




#bloco-1 {
    
    color: white;
    
    line-height: 100px;
    text-align: center;
    padding-top: 200px;
    
    height: 430px;
}

@media (min-width: 451px) and (max-width: 2000px) {
    #bloco-1 {
     font-size: clamp(1.75em, 1em + 3vw, 4em); 
      
    }
    
}

@media (max-width: 450px) {
    #bloco-1 {
      padding-top: 140px;
      font-size: clamp(1.75em, 1em + 3vw, 4em);
      font-size: 7vw; 
    }
   
}
  
    :before, :after {
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
       }    
      .mouse_scroll {
    
        display: block;
        margin: auto;
        width: 24px;
        height: 100px;
        padding-bottom: 30px;
        
      }
      
      .m_scroll_arrows
      {
        display: block;
        width: 5px;
        height: 5px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
         
        border-right: 2px solid var(--cor2);
        border-bottom: 2px solid var(--cor2);
        margin: 0 0 3px 4px;
        
        width: 16px;
        height: 16px;
      }
      
      
      .unu
      {
        margin-top: 1px;
      }
      
      .unu, .doi, .trei
      {
          -webkit-animation: mouse-scroll 1s infinite;
          -moz-animation: mouse-scroll 1s infinite;
          animation: mouse-scroll 1s infinite;
        
      }
      
      .unu
      {
        -webkit-animation-delay: .1s;
        -moz-animation-delay: .1s;
        -webkit-animation-direction: alternate;
        
        animation-direction: alternate;
        animation-delay: alternate;
      }
      
      .doi
      {
        -webkit-animation-delay: .2s;
        -moz-animation-delay: .2s;
        -webkit-animation-direction: alternate;
        
        animation-delay: .2s;
        animation-direction: alternate;
        
        margin-top: -6px;
      }
      
      .trei
      {
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        -webkit-animation-direction: alternate;
        
        animation-delay: .3s;
        animation-direction: alternate;
        
        
        margin-top: -6px;
      }
      
      .mouse {
        height: 42px;
        width: 24px;
        border-radius: 14px;
        transform: none;
        border: 2px solid var(--cor2);
        top: 170px;
      }
      
      .wheel {
        height: 5px;
        width: 2px;
        display: block;
        margin: 5px auto;
        background: var(--cor2);
        position: relative;
        
        height: 4px;
        width: 4px;
        border: 2px solid var(--cor2)
        -webkit-border-radius: 8px;
                border-radius: 8px;
      }
      
      .wheel {
        -webkit-animation: mouse-wheel 0.6s linear infinite;
        -moz-animation: mouse-wheel 0.6s linear infinite;
        animation: mouse-wheel 0.6s linear infinite;
      }
      
      @-webkit-keyframes mouse-wheel{
         0% {
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
      
        100% {
          opacity: 0;
          -webkit-transform: translateY(6px);
          -ms-transform: translateY(6px);
          transform: translateY(6px);
        }
      }
      @-moz-keyframes mouse-wheel {
        0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
      }
      @-o-keyframes mouse-wheel {
      
         0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
      }
      @keyframes mouse-wheel {
      
         0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
      }
      
      @-webkit-keyframes mouse-scroll {
      
        0%   { opacity: 0;}
        50%  { opacity: .5;}
        100% { opacity: 1;}
      }
      @-moz-keyframes mouse-scroll {
      
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
      }
      @-o-keyframes mouse-scroll {
      
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
      }
      @keyframes mouse-scroll {
      
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
      }

#bloco-2 {
    color: white;
    background-color: #171c276b;
    margin: auto;
    height: 300px;
    width: 800px;
    border-radius: 30px;
    border: 1px solid var(--cor2);
    
}


  

#imagem-quem-sou {
    width: 25%;
    height: 70%;
    float: left;
    border-radius: 30px;
    margin: 0 auto;
    padding: 5% 2% 5% 2%;
}
    


#imagem-quem-sou > img {
    
    width: 100%;
    height: 100%;
    /* top: 50px;
    left: 50px; */
    display: block;
    
}



#desricao-quem-sou {
    width: 64%;
    height: 250px;
    border-radius: 30px;
    float: right;
    margin: 0 auto;
    
    padding: 5% 2% 5% 2%;
}
    


#desricao-quem-sou > p {
  text-align: center;
  
  
}

#desricao-quem-sou > h1 {
    text-align: center;
    padding-top: 30px;
}

@media (max-width: 800px) {
  #bloco-2 {
    width: 300px;
    height: 800px;
    background-color: #171c27;
  }
  
  #imagem-quem-sou {
    display: block;
    float: none;
    height: 300px;
    width: 250px;
    padding: 10px;
  }
  #desricao-quem-sou {
    display: block;
    float: none;
    height: 50%;
    width: 250px;
    padding: 10px;
  }

}

#bloco-3 {
    color: white;
    display: block;
    text-align: center;
    padding: 50px;
}

#flex-container {
  display: block;
  color: black;
  height: 40vh;
  
}


#projeto-android {
  background-color: #2EA564;
  height: 40vh;
  width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.322);
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  margin: auto;
}

.img {
  
}

.descricao{

}
#projeto-cordel {
  background-color: rgb(32, 32, 32);
  height: 40vh;
  width: 600px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  margin: auto;
}
