@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #07080B;   
}

#container-logos {
    position: fixed;
    z-index: 999;
    bottom: 0%;
    right: 3%;
    background-color: white;

}

#container-logos > a >  img {
    width: 50px;
    height: 50px;
    padding-right: 20px;
    background-color: white;
}


header {
    display: block;
    width: 100vw;
    height: 100px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 999;
    border-bottom: #0E0E0E solid 1px;
}

#conteudo-topo {
     width: 90%;
    height:  100px;
    padding-top: 35px;
    padding-bottom:40px;
}


#menu > a:hover /* nav */ {
    
    text-decoration: underline rgb(33, 146, 199);
    
}

 #menu > a /* nav */{
    
   color: white;
   float: right;
   
   padding-right: 50px;
   font-size: 20px;  
   text-decoration: none;
}

nav {
    font-family: Arial, Helvetica, sans-serif;

}



#bloco-1 {
    
    color: white;
    font-size: clamp(1em, 1em + 3vw, 4em);
    line-height: 140px;
    margin: 0 auto;
    padding: 200px 0px 200px 0px;
    width: 1100px;
    height: 430px;
}
    
    :before, :after {
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
       }    
      .mouse_scroll {
    
        display: block;
        margin: auto;
        width: 24px;
        height: 100px;
        padding-bottom: 30px;
        
      }
      
      .m_scroll_arrows
      {
        display: block;
        width: 5px;
        height: 5px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
         
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        margin: 0 0 3px 4px;
        
        width: 16px;
        height: 16px;
      }
      
      
      .unu
      {
        margin-top: 1px;
      }
      
      .unu, .doi, .trei
      {
          -webkit-animation: mouse-scroll 1s infinite;
          -moz-animation: mouse-scroll 1s infinite;
          animation: mouse-scroll 1s infinite;
        
      }
      
      .unu
      {
        -webkit-animation-delay: .1s;
        -moz-animation-delay: .1s;
        -webkit-animation-direction: alternate;
        
        animation-direction: alternate;
        animation-delay: alternate;
      }
      
      .doi
      {
        -webkit-animation-delay: .2s;
        -moz-animation-delay: .2s;
        -webkit-animation-direction: alternate;
        
        animation-delay: .2s;
        animation-direction: alternate;
        
        margin-top: -6px;
      }
      
      .trei
      {
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        -webkit-animation-direction: alternate;
        
        animation-delay: .3s;
        animation-direction: alternate;
        
        
        margin-top: -6px;
      }
      
      .mouse {
        height: 42px;
        width: 24px;
        border-radius: 14px;
        transform: none;
        border: 2px solid white;
        top: 170px;
      }
      
      .wheel {
        height: 5px;
        width: 2px;
        display: block;
        margin: 5px auto;
        background: white;
        position: relative;
        
        height: 4px;
        width: 4px;
        border: 2px solid #fff;
        -webkit-border-radius: 8px;
                border-radius: 8px;
      }
      
      .wheel {
        -webkit-animation: mouse-wheel 0.6s linear infinite;
        -moz-animation: mouse-wheel 0.6s linear infinite;
        animation: mouse-wheel 0.6s linear infinite;
      }
      
      @-webkit-keyframes mouse-wheel{
         0% {
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
      
        100% {
          opacity: 0;
          -webkit-transform: translateY(6px);
          -ms-transform: translateY(6px);
          transform: translateY(6px);
        }
      }
      @-moz-keyframes mouse-wheel {
        0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
      }
      @-o-keyframes mouse-wheel {
      
         0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
      }
      @keyframes mouse-wheel {
      
         0% { top: 1px; }
        25% { top: 2px; }
        50% { top: 3px;}
        75% { top: 2px;}
        100% { top: 1px;}
      }
      
      @-webkit-keyframes mouse-scroll {
      
        0%   { opacity: 0;}
        50%  { opacity: .5;}
        100% { opacity: 1;}
      }
      @-moz-keyframes mouse-scroll {
      
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
      }
      @-o-keyframes mouse-scroll {
      
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
      }
      @keyframes mouse-scroll {
      
        0%   { opacity: 0; }
        50%  { opacity: .5; }
        100% { opacity: 1; }
      }

#bloco-2 {
    color: white;
    background-color: #171c27;
    width: 1200px;
    height: 440px;
    margin: auto;
    border-radius: 30px;
    
}

#imagem-quem-sou {
    width: 35%;
    height: 100%;
    float: left;
    border-radius: 30px;   
}

#imagem-quem-sou > img {
    position: relative;
    top: 50px;
    left: 50px;
}



#desricao-quem-sou {
    width: 64%;
    height: 100%;
    border-radius: 30px;
    float: right;
}

#desricao-quem-sou > p {
    padding: 20px;
}

#desricao-quem-sou > h1 {
    text-align: center;
    padding-top: 30px;
}

#bloco-3 {
    color: white;
    display: block;
    text-align: center;
    padding: 50px;
}

#flex-container {
  display: flex;
  color: black;
  max-width: 1200px;
  min-width: 600px;
  height: 500px;
  margin: auto;
  flex-flow: row wrap;
  justify-content: space-around;
  
}

#projeto-android {
  background-color: #2EA564;
  width: 33%;
  height: 450px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
}

#projeto-cordel {
  background-color: rgb(32, 32, 32);
  width: 33%;
  height: 450px;
  border: 1px solid white;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
}
